.loginContainer {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.formContainer {
  margin-left: 20px;
}
.formContainer > form {
  display: flex;
  flex-direction: column;
}
.imageContainer {
  width: 60%;
}
.imageContainer > img {
  width: 100%;
  height: 100%;
}
.formContainer > form > label {
  margin-top: 20px;
}
.formContainer > form > button {
  outline: none;
  border: none;
  background-color: green;
  color: #ffff;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "poppins";
  cursor: pointer;
}
